
<nav class="navbar navbar-expand-lg navbar-dark"  style="background-color:rgb(186, 200, 226); justify-content: center;">
    
    <div class="container-fluid">
        <button class = btn btn-primary (click)="expanded = !expanded"><i class="fa-solid fa-bars"> Menu  </i>
        </button>
        <a class="navbar-brand" href="#">  JKTech Bank</a>
        <!-- <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                
              <li class="nav-item">
                <a class="nav-link" >Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Contact</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link">About</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" >Help</a>
              </li>
            </ul>
          </div> -->
          <div class="col-sm-8" style="background-color:rgb(186, 200, 226);padding: 10px;;">
            <div class="navbuttons btn-group lt-8">
              <button type="button" class="btn btn-secondary">Home</button>
            <br>
              <button type="button" class="btn btn-secondary">Contact</button>
              <button type="button" class="btn btn-secondary">About</button>
              <button type="button" class="btn btn-secondary">News</button>
            </div>
          </div>  
          <button class= " btn btn-outline-primary">logout</button>
    
     </div>   

</nav>        
<div class="main-layout">
  <aside class="sidebar" *ngIf="expanded" @slidein>
    <ul>
      <li routerLink="/AddCustomer" routerLinkActive=""><i class="fa-sharp fa-solid fa-address-card"></i>Add Customer</li>
      <li routerLink="/Withdraw"><i class="fa-sharp fa-solid fa-money-bill-wave"></i>Withdrawals</li>
      <li routerLink="/Loans"><i class="fa-sharp fa-solid fa-money-bill-transfer"></i>Loans</li>
        <li routerLink="/Deposit"> <i class="fa-sharp fa-solid fa-piggy-bank"></i> Deposits</li>
      <li routerLink="/Savings"> <i class="fa-sharp fa-solid fa-piggy-bank"></i> Savings</li>
      <li routerLink="/CustomerInfo"> <i class="fa-sharp fa-solid fa-money-from-bracket"></i> Customer Search</li>
    </ul>
  </aside>
  <div class="container-fluid">
  <section style="font-size:10px;">
    <router-outlet></router-outlet>
  </section>
</div>
</div> 
