<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgb(134, 13, 60); justify-content: center;">

  <div class="container-fluid">
    <button class="btn btn-outline-primary" style="width: 35px;" (click)="expanded = !expanded"> <i class="fa-solid fa-bars"> </i>
    </button>
    <a class="navbar-brand" href="#"
      style="font-size:35px; margin-left: 40px; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"> JK BANK</a>

    <div class="col-sm-8 " style="padding: 10px; padding-right: 40px;">
      <div class="navbuttons btn-group lt-8">
        <button type="button" class="btn " style="color: white; ">Home</button>
        <button type="button" class="btn " style="color: white;">Contact</button>
        <button type="button" class="btn " style="color: white;">About</button>
        <button type="button" class="btn " style="color: white; ">News</button>
      </div>
    </div>
    <button class=" btn btn-outline-primary">logout</button>

  </div>

</nav>
<div class="main-layout">
  <aside class="sidebar" *ngIf="expanded" @slidein>
    <!-- <ul class="nav-list"  *ngFor = "let x of listItem">
      <li class="nav-list-item" routerLink = "/{{x.name}}" routerLinkActive = "active" >
          <i class="{{x.icon}}"></i>
          <span>{{x.name}}</span>
      </li>
      
  </ul> -->
    <ul class="nav-list">
      <li class="nav-list-item" routerLink="/AddCustomer" routerLinkActive="active"
        [queryParams]="{ general : 'Outside'}" (click)="menudo()">
        <i class="fa-sharp fa-solid fa-address-card"></i>
        <span> Add Customer </span>
      </li>
      <li class="nav-list-item" routerLink="/Withdraw" routerLinkActive="active" [queryParams]="{ general : 'Outside'}"
        (click)="menudo()">
        <i class="fa-sharp fa-solid fa-money-bill-wave"></i>
        <span>Withdrawals</span>
      </li>
      <li class="nav-list-item" routerLink="/Deposits" routerLinkActive="active" [queryParams]="{ general : 'Outside'}"
        (click)="menudo()">
        <i class="fa-sharp fa-solid fa-piggy-bank"></i>
        <span> Deposits</span>
      </li>
      <li class="nav-list-item" (click)="menuloan()">
        <i class="fa-sharp fa-solid fa-money-bill-transfer"></i>
        <span> Loans</span>
      </li>
      <!-- <li class="nav-list-item" routerLink="/customerdetail" routerLinkActive="active" [queryParams] = "{ general : 'Customer'}" (click) = "menudo()">
        <i class="fa-sharp fa-solid fa-piggy-bank"></i>
        <span> Customerdetails</span>
      </li> -->
      <li class="nav-list-item" (click)="menusaving()">
        <i class="fa-sharp fa-solid fa-piggy-bank"></i>
        <span> Savings</span>
      </li>
      <li class="nav-list-item" routerLink="/CustomerInfo" routerLinkActive="active" (click)="menudo()">
        <i class="fa-sharp fa-solid fa-piggy-bank"></i>
        <span> Customer Info</span>
      </li>
      <li class="nav-list-item" routerLink="/Documents" routerLinkActive="active" [queryParams]="{ general : 'Outside'}"
        (click)="menudo()">
        <i class="fa-sharp fa-solid fa-piggy-bank"></i>
        <span> Documents</span>
      </li>

    </ul>
  </aside>

  <div class="container-fluid">
    <section style="font-size:10px;">
      <!-- <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
         
          <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
      </nav> -->
      <router-outlet></router-outlet>
    </section>
  </div>
</div>