
<form (ngSubmit)="getSearch(search)" *ngIf = "check"  #search="ngForm">
  <div class="row search" >
    <div class="col" >
  <input type="search" style="float:left;" class="form-control rounded" placeholder="Search Customer id" ngModel name="Customer_id"
    #Customer_id="ngModel" aria-label="Search" aria-describedby="search-addon" />
    </div>
    <div class="col" >
  <input type="search" class="form-control rounded" placeholder="search phone number" ngModel name="phone_number"
    #phone_number="ngModel" aria-label="Search" aria-describedby="search-addon" />
  <br>
    </div>
    <div class="col" >
  <button type="button" class=" seachbtn btn btn-outline-primary" (click)="getSearch(search)">search</button>
</div>
</div>
</form>
  
 <div class="row">
      <div class="col-sm-4" *ngIf = "check" style="background-color:rgb( 186, 200, 226); border-radius:  13px">
        <div class="card" style="margin-top: 8px; border-radius: 10px; border-color: darkslategrey;" >
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
              <div class="mt-3">
                <h4>Sagar Koralli</h4>
                <h6 class="text-secondary mb-1" >Customer Id :1001</h6>
                <h6 class="text-secondary mb-1" >Account num :23456</h6>
                <h6 class="text-secondary mb-1" >Firstname :sagar</h6>
                <h6 class="text-secondary mb-1" >Lastname :koralli</h6>
                <h6 class="text-secondary mb-1">Email :sagarkoralli@gmail.com</h6>
                <h6 class="text-secondary mb-1" >Balance :10000</h6>
                <button class="btn btncolor">Active</button>
               
              </div>
              
            </div>
          </div>
        </div>
        <div >
        
          <button class="btn btn-outline-primary">Edit</button>
        </div>
      </div>  
      <div class="col-sm-8" style="background-color:rgb(255,255,255);">  
<form>
  <h5>Savings Account</h5>
  <div class="row">
    <div class="form-group col">
      <label for="inputEmail4">Account Number</label>
      <input type="text" class="form-control" id="FirstName" readonly placeholder="123343545">
    </div>
    <div class="form-group col">
      <label for="inputEmail4">Account Type</label>
      <input type="text" class="form-control" id="LastName" readonly placeholder="Savings">
    </div>
   </div>
    <div class="row"> 
  </div>
  <div class="form-group col">
    <label for="inputAddress">Balance</label>
    <input type="Number" class="form-control" id="inputAddress" readonly placeholder="20000000">
  </div>
  <div class="form-group col">
    <label for="inputAddress2">Transfer Limit</label>
    <input type="text" class="form-control" id="inputAddress2" readonly placeholder="400000">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">IFSC Code</label>
      <input type="text" class="form-control" id="IFSC" readonly placeholder="UTIB5000062">
    </div>
    </div>
    
<br>
<br>
<div class="d-grid gap-2 d-md-flex justify-content-md-md">
  
  <button class="btn btn-dark" routerLink="/Deposit">Deposit
  </button>
  <button type="button" class="btn btn-dark" routerLink="/Withdraw">Withdraw</button>
</div>

</form>
</div>
</div>
