.navbuttons{
    padding-right: 30%;
    align-items: center;

}
.rounded{
  
    padding: 10px;
    
}

.input-group{
    width:80%;
    left: 20%;
}

.select {
    width: 10%;
    
}

.modal.show{

    display: block;
  
  }

.btn{
    width: 45%;
    padding-left: 10px;
}
.seachbtn{
 width: 80px;
}
.search{
    width:95%;
    text-align:center;
    margin-top: 10px;
}
h6{
    font-family: sans-serif;
}
.btncolor{
    background-color: green;
    font-size: 20px;
    border-radius: 18px;
    width: 90px;
    height: 45px;
}