
<div class="container-fluid ng-container" >
  <h2>Account Opening Form </h2>
  <div>
    <br/>
    <u><h3>Personal Information</h3></u>
    <form #gfgform = "ngForm" style="border:2px padding;">
      <div class="row">
        <div class="col">
          <label for="inputEmail4">First Name</label>
          <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
          <label for="inputEmail4">Last Name</label>
          <input type="text" class="form-control" placeholder="Last name">
        </div>
        <br>
        <div class="col">
          <label for="inputEmail4">Date of Birth</label>
          <input type="date" class="form-control" placeholder="DOB">
        </div>
        <div class="col">
          <label for="inputEmail4">Age</label>
          <input type="number" class="form-control" placeholder="DOB">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="inputEmail4">Telephone Number</label>
          <input type="text" class="form-control" placeholder="Mobile">
        </div>
        <div class="col">
          <label for="inputEmail4">Email</label>
          <input type="Email" class="form-control" placeholder="Last name">
        </div>
        <br>
        <div class="col">
          <label for="inputEmail4">Date of Birth</label>
          <input type="date" class="form-control" placeholder="DOB">
        </div>
        <div class="col">
          <label for="inputEmail4">Mother's Maiden Name</label>
          <input type="text" class="form-control" placeholder="DOB">
        </div>
      </div>
      <br/>
      <br/>
      <br/>
      <u><h3>Address Information</h3></u>
      <div class="row">
        <div class="col">
          <label for="inputEmail4">Address</label>
          <input type="text" class="form-control" placeholder="Address1">
        </div>
        <div class="col">
          <label for="inputEmail4">Address Line 2</label>
          <input type="text" class="form-control" placeholder="AddressLine2">
        </div>
        <br>
        <div class="col">
          <label for="inputEmail4">City</label>
          <input type="text" class="form-control" placeholder="City">
        </div>
        <div class="col">
          <label for="inputEmail4">State</label>
          <input type="text" class="form-control" placeholder="State">
        </div>
      </div>
      <br>
      <br>
      <br>
      <u><h3>Account Information</h3></u>
      <div class="row">
        <div class="col">
          <label for="inputEmail4">Account Type</label>
          <input type="text" class="form-control" placeholder="Account Type">
        </div>
        <div class="col">
          <label for="inputEmail4">Account Category</label>
          <input type="dropdown" class="form-control" placeholder="Account SubType">
        </div>
        <br>
        <div class="col">
          <label for="inputEmail4">Monthly Salary</label>
          <input type="Number" class="form-control" placeholder="Salary">
        </div>
      </div>

    </form>
  </div>
  <br>
  <br>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary me-md-2" type="button">Submit</button>
    <button class="btn btn-danger" type="button">cancel</button>
  </div>
</div>
  