.navbuttons{
    padding-right: 30%;
    align-items: center;

}

.input-group{
    width:60%;
    left: 20%;
}

.select {
    width: 30%;
    margin: center;
}

.modal.show{

    display: block;
  
  }

.btn{
    width: 30%;
}