
<div class="container-fluid" style="margin-left: 10px;">
<!-- <div class="row" >
  <div class="col-9">
     <form (ngSubmit)="getSearch(search)" #search="ngForm" class="searchborder" style="width: 750px; margin-top: 10px; margin-bottom: 10px;">
      <div class="row search">
        <div class="col">
          <input type="search" style="float:left;" class="form-control rounded" placeholder="Search Customer id" ngModel
            name="cust_id" #cust_id="ngModel" aria-label="Search" aria-describedby="search-addon" />
        </div>
        <div class="col">
          <input type="search" class="form-control rounded" placeholder="search phone number" ngModel name="phone"
            #phone="ngModel" aria-label="Search" aria-describedby="search-addon" />
          <br>
        </div>
        <div class="col" style="margin-right: 350px;">
          <button type="button" class=" seachbtn btn btn-outline-primary" (click)="getSearch(search)">Search</button>
        </div>
      </div>
    </form> 
    <form (ngSubmit)="getSearch(search)" #search="ngForm" class="searchborder" style=" width: 750px; margin-top: 10px; margin-bottom: 10px;" >
      <div class="row search">
        <div class="col" style="margin-left: 5px;">
          <input type="number" style="float:left;" class="form-control rounded" placeholder="Search Customer id" ngModel
            name="cust_id" #cust_id="ngModel" aria-label="Search" aria-describedby="search-addon" />
        </div>
        <div class="col">
          <input type="search" class="form-control rounded" placeholder="search phone number" ngModel name="phone"
            #phone="ngModel" aria-label="Search" aria-describedby="search-addon" />
          <br>
        </div>
        <div class="col" >
          <button type="button" class=" seachbtn btn btn-outline-primary" (click)="getSearch(search)">Search</button>
        </div>
      </div>
    </form>
  </div> -->
  
  <div class="row" >
    <div class="col-md-10">
      <form (ngSubmit)="getSearch(search)" #search="ngForm" class="row g-3" style=" margin-top: 10px; margin-bottom: 10px;" >
        
        <div class="col-sm-4">
        <input type="number" class="form-control rounded " placeholder="Search Customer id" ngModel
              name="cust_id" #cust_id="ngModel" aria-label="Search" aria-describedby="search-addon" />
        </div>
        <div class="col-sm-4">
        <input type="search" class="form-control rounded" placeholder="search phone number" ngModel name="phone"
              #phone="ngModel" aria-label="Search" aria-describedby="search-addon" />
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-primary" (click)="getSearch(search)" style="margin-top:4px ; width:48px"><i _ngcontent-crf-c119="" class="fa fa-search" aria-hidden="true"></i></button>
        </div>
  
      </form>
      <br>
    </div>
  </div>

   <div class ="row">
    <div class="col-sm-4" style="background-color:rgb(245, 224, 129); border-radius:  13px;  height: 420px;">
      <div class="card" style="background-color:rgb(243, 237, 182) ; border-radius: 30px; height: 420px;" >
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            <i class="fa-regular fa-circle-dot" [ngClass] = "{ 'display-mode' : active }" [ngClass] = "{ 'display-inactive' : inactive }"></i>
            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
            <div class="mt-3">
              <h4>{{filterjson.value[0].firstname}} {{filterjson.value[0].lastname}}</h4>
              <h6 class="text mb-1" > dob:{{filterjson.value[0].dob}} </h6>
              <h6 class="text mb-1" >phone :{{filterjson.value[0].phone}}</h6>
              <h6 class="text mb-1" >Email :{{filterjson.value[0].emailid}}</h6>
              <h6 class="text mb-1" >state:{{filterjson.value[0].state}}</h6>
              <h6 class="text mb-1" >country:{{filterjson.value[0].country}}</h6>
              <h6 class="text mb-1" >city :{{filterjson.value[0].city}}</h6>
              
           
  
            </div>
  
          </div>
        </div>
      </div>
     
    </div>

    <div class="col-sm-8" style="background-color:rgb(243, 237, 182); border-radius: 13px;" >

      <h4>Deposit Form</h4>
      <br>
      <form [formGroup]="getSaving" (ngSubmit)="getvalue(product)" #product="ngForm">
        <div class="col-xs-3 col-sm-auto" style="margin-left: 40px;">
          <span style="font-size: 14px;">Account Number</span><br>
          <select placeholder="Account Number" (change)="getAccountDetails($event.target)" class="formsize" formControlName="acctnum">
            <option *ngFor = "let x of filterjson.value" style="width: 80px; font-size: 10px;" >{{x.acctnum}}</option>
            <option> </option>
          </select>
        </div>
          <div class="col-xs-3 col-sm-auto" style="margin-left: 40px;">
            <span style="font-size: 14px; font-family: sans-serif;">TXN Type</span><br>
            <input placeholder="TXN Type" class="formsize"  formControlName="txndetail"  >
          </div>
          <div class="col-xs-3 col-sm-auto" style="margin-left: 40px;">
            <span style="font-size: 14px; font-family: sans-serif;">Balance</span><br>
            <input placeholder="Balance Amount" class="formsize"  formControlName="balance"  >
          </div>
          <div class="col-xs-3 col-sm-auto" style="margin-top: 10px; margin-left: 40px;">
            <span style="font-size: 14px;">Deposit Amount</span><br>
            <input type="number" placeholder="Deposit Amount" class="formsize"
              formControlName="depositamount">
          </div>
            <br><br>
          <button class="btn btn-primary" style="width: 120px; margin-left: 280px;" [disabled]="!product.valid" (click)="ackresponse()">Deposit</button>
      </form>
  
    </div>
</div>

</div>