
<div class="container-fluid" style="margin-left: 10px;">
  <div class="row">
    <div class="col-md-10">
      <form (ngSubmit)="getSearch(search)" #search="ngForm" class="row g-3"
        style=" margin-top: 10px; margin-bottom: 10px;">

        <div class="col-sm-4">
          <input type="number" class="form-control rounded " placeholder="Search Customer id" ngModel name="cust_id"
            #cust_id="ngModel" aria-label="Search" aria-describedby="search-addon" />
        </div>
        <div class="col-sm-4">
          <input type="search" class="form-control rounded" placeholder="search phone number" ngModel name="phone"
            #phone="ngModel" aria-label="Search" aria-describedby="search-addon" />
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-primary" (click)="getSearch(search)"
            style="margin-top:4px ; width:48px"><i _ngcontent-crf-c119="" class="fa fa-search"
              aria-hidden="true"></i></button>
        </div>

      </form>
      <br>
    </div>
  </div>
  <div class ="row" *ngIf="loanaccnt" style="margin-bottom: 25px;">
    <div class="col-sm-4" style="background-color:rgb(245, 224, 129); border-radius:  13px;   height: 420px;" >
      <div class="card" style="background-color:rgb(243, 237, 182); border-radius: 30px; height: 420px;" >
        <div class="card-body" >
          <div class="d-flex flex-column align-items-center text-center">
            <i class="fa-regular fa-circle-dot" [ngClass] = "{ 'display-mode' : active }" [ngClass] = "{ 'display-inactive' : inactive }" ></i>
            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
            <div class="mt-3">
              <h4>{{filterjson[0].firstname}} {{filterjson[0].lastname}}</h4>
              <h6 class="text-secondary mb-1" class="Balance"> dob:{{filterjson[0].dob}} </h6>
              <h6 class="text-secondary mb-1" class="Balance">phone :{{filterjson[0].phone}}</h6>
              <h6 class="text-secondary mb-1" class="Balance">Email :{{filterjson[0].emailid}}</h6>
              <h6 class="text-secondary mb-1" class="Balance">state:{{filterjson[0].state}}</h6>
              <h6 class="text-secondary mb-1" class="Balance">country:{{filterjson[0].country}}</h6>
              <h6 class="text-secondary mb-1" class="Balance">city :{{filterjson[0].city}}</h6>
              
           
  
            </div>
  
          </div>
        </div>
      </div>
     
    </div>

    <div class="col-sm-8" style="background-color:rgb(243, 237, 182); border-radius: 13px;" *ngIf="loanaccnt" >

     <h4 style="font-family: sans-serif;">Loan Form</h4>
     <br>
      <form [formGroup]="getSaving" #edit="ngForm" >
        <div class="col-xs-3 col-sm-auto" style="margin-left: 40px;">
          <span style="font-size: 14px;">Account Number</span><br>
          <select placeholder="Account Number" (change)="getLoandetail($event.target)" class="formsize"
            formControlName="acctnum">
            <option *ngFor="let x of filterjson" style="width: 15px;">{{x.acctnum}}</option>
            <option> </option>
          </select>
        </div>
        <div class="col-xs-3 col-sm-auto" style="margin-left: 40px;">
          <span style="font-size: 14px;">Account Type</span><br>
          <input placeholder="Account Type" style="border-radius: 10px; border-style: groove;" class="formsize"
            formControlName="accounttype">
        </div>
        <div class="col-xs-3 col-sm-auto" style="margin-top: 10px; margin-left: 40px;">
          <span style="font-size: 14px;">Account subtype</span><br>
          <input placeholder="account subtype" class="formsize" formControlName="accountsubtype">
        </div>
        <div class="col-xs-3 col-sm-auto" style="margin-top: 10px; margin-left: 40px;">
          <span style="font-size: 14px;">Balance</span><br>
          <input placeholder="Balance Amount" class="formsize" formControlName="balanceamount">
        </div>

        <div class="col-xs-3 col-sm-auto" style="margin-top: 10px; margin-left: 40px;">
          <span style="font-size: 14px;">EMI Amount</span><br>
          <input placeholder="EMI Amount" class="formsize" formControlName="emiamount">
        </div>
        <div class="col-xs-3 col-sm-auto" style="margin-top: 10px; margin-left: 40px;">
          <span style="font-size: 14px;">Total Amount</span><br>
          <input placeholder="Balance Amount" class="formsize" formControlName="totalloanamount">
        </div>

      </form>
  
    </div>
</div>
</div>