.navbuttons{
    align-self: center;
    padding-right: 30%;
    align-items: center;

}
.Balance{
    color:brown;
}
h6{
    font-family: sans-serif;
}
.btncolor{
    background-color: green;
    font-size: 20px;
    border-radius: 18px;
    width: 90px;
    height: 45px;
}
.search{
    width:95%;
    text-align:center;
    margin-top: 10px;
}