.style{
    border-color: black;
    border-radius: 10%;
}
.display-Area{
    position: absolute;
    left:100px;
}

.navbuttons{
    padding-right: 30%;
    align-items: center;

}
.Balance{
    color:brown;
}