
  <nav class="navbar navbar-expand-lg navbar-dark"  style="background-color: #2e4120; justify-content: center;">
    
    <div class="container-fluid">
     <!--  <ng-template #content let-offcanvas>
        <div class="offcanvas-header">
          <h4 class="offcanvas-title">Menu</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
        </div>
        <div class="offcanvas-body">
          
          <app-dash-sidebar  [headerValue] = "reponse" (sidebarResponse) = "takeResponse($event)" [ngClass] = "{ 'side-nav-list-open' : reponse }"></app-dash-sidebar>
          <ul class="nav-list" [ngClass] = "{'nav-list-open' : headerValue }" *ngFor = "let x of listItem">

            <li class="nav-list-item" (click) = "getReponse(x.name)" >
                <i class="{{x.icon}}"></i>
                <span>{{x.name}}</span>
            </li>
          </ul>
          </div>
          
      </ng-template> -->
      <!-- <div class="sidebar-nav-button p-2 me-0 text-light" (click) = "openStaticBackdrop(content)">
        <i class="fa-solid fa-bars"></i>
      </div> --> -->
      <a class="navbar-brand" href="#">  JkTech Bank</a>
      
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          
          <li class="nav-item">
            <a class="nav-link" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Contact</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link">About</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" >Help</a>
          </li>
        </ul>
      </div>
      <button (click)="logout()" class= "btn-blue">logout</button>
    </div>
  </nav>
  <main>
   <app-dash-sidebar  [headerValue] = "reponse" (sidebarResponse) = "takeResponse($event)" [ngClass] = "{ 'side-nav-list-open' : reponse }"></app-dash-sidebar> 
    <div *ngIf = "getSidebarResponse === 'CustomerInfo'">
      <div class="display-area p-3" [ngClass] = "{ 'display-mode' : reponse }">
        <app-customer-filter></app-customer-filter>
      </div>
    </div>
    <div *ngIf = "getSidebarResponse === 'Add Account'">
      <div class="display-area p-3" [ngClass] = "{ 'display-mode' : reponse }">
        <app-add-customer></app-add-customer>
      </div>
    </div>
    <div *ngIf = "getSidebarResponse === 'WithDraw'">
      <div class="display-area p-3"  [ngClass] = "{ 'display-mode' : reponse }" >
      <app-view ></app-view>
    </div>
  </div>
  <div *ngIf = "getSidebarResponse === 'Saving'">
    <div class="display-area p-3" [ngClass] = "{ 'display-mode' : reponse }">
      <app-saving-account></app-saving-account>
    </div>
  </div>
    <div *ngIf = "getSidebarResponse === 'Loan'">
    <div class="display-area p-3" [ngClass] = "{ 'display-mode' : reponse }">
      <app-loan></app-loan>
    </div>
  </div>
    <div *ngIf = "getSidebarResponse === 'Deposit'">
    <div class="display-area p-3" [ngClass] = "{ 'display-mode' : reponse }">
      <app-deposite></app-deposite>
    </div>
  </div> 
  </main>
  
 
  

 


  