<div class = "container-fluid">
  <div class="row">
    <div class="col-sm-4" style="background-color:rgb(61, 61, 73);">CustomerInfo
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
            <div class="mt-3">
              <h4>John Doe</h4>
              <p class="text-secondary mb-1" class="Balance">Balance :12000000</p>
              <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
              <button class="btn btn-success">Active</button>
              <button class="btn btn-outline-primary">Message</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-sm-8" style="background-color:rgb(186, 200, 226);">
      <p>You can use alternative markup without <code>ul li</code> elements</p>

<nav ngbNav #nav="ngbNav" class="nav-tabs" routerLink="Transactions">
	<ng-container ngbNavItem>
		<a ngbNavLink>Transactions</a>
		<ng-template ngbNavContent>
		 <app-transactions></app-transactions> 	
		</ng-template>
	</ng-container>
	<ng-container ngbNavItem>
		<a ngbNavLink routerlink="/savings">Savings</a>
		<ng-template ngbNavContent>
      <app-saving-account></app-saving-account>
		</ng-template>
	</ng-container>
	<ng-container ngbNavItem>
		<a ngbNavLink>Loans</a>
		<ng-template ngbNavContent>
      <app-loan></app-loan>
		</ng-template>
	</ng-container>
  <ng-container ngbNavItem>
		<a ngbNavLink>Communications</a>
		<ng-template ngbNavContent>
			<p>
				Communacation Documents
			</p>
      <table class="table table-striped">
        <thead><tr><th>docid</th>
          <th>Description</th>
          <th>Link</th></tr></thead>
        <tbody><tr>
          <td>Wel01</td>
        <td>Welcome Letter</td>
        <td>www.google.com</td>
        </tr></tbody>
        
      </table>
		</ng-template>
	</ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2">
  <!-- Vertically centered modal -->
<div class="modal-dialog modal-dialog-centered">
  ...
</div>

<!-- Vertically centered scrollable modal -->
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  ...
</div>
</div>
   </div>
  </div>

</div>
