<br>

<div class="container d-grid gap-2 d-md-flex justify-content-md-end">
	<div class="row">
		<div class="col-md-10">
			<form (ngSubmit)="SearchCustomer(search)" #search="ngForm">
				<div class="form-group">

					<div class="input-group">

						<input type="text" class="form-control" placeholder="First Name" ngModel name="firstname"
							#firstname="ngModel" /><br>
						<div class="input-group-addon">

							<button class="btn" (click)="SearchCustomer(search)">
								<i class="fa fa-search"></i>
							</button>
						</div>

					</div>

                  </div>
			</form>
		</div>
	

	<div class="col-md-1 filter" data-bs-toggle="modal" (click)="reponse()">
		<i class="fa-solid fa-filter"></i>
	</div>

	<div class="col-md-1 add" routerLink="/AddCustomer">
		<i class="fa-sharp fa-solid fa-plus"></i>
	</div>

</div>
</div>
<br>

<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show' : addresponse }">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header" style="background-color:  rgb(243, 237, 182)">
				<h5 class="modal-title">Customer Filter</h5>
				<button type="button" class="close" data-dismiss="modal" (click)="addresponse = false"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form [formGroup]="myFilterCust" (ngSubmit)="filterCustomer(filter)" #filter="ngForm">
					<div class="mb-3 row">
						<div class="col-xs-3 col-sm-auto" style="margin-top: 10px; margin-left: 40px;">
							<span>Enter CustomerID</span><br>
							<input type="number" placeholder="CustomerId" class="formsize"
								formControlName="cust_id" /><br>
						</div>

						<div class="col-xs-3 col-sm-auto" style="margin-top: 10px; margin-left: 40px;">
							<span>Enter First name</span><br>
							<input type="text" placeholder="First Name" class="formsize"
								formControlName="firstname" /><br>
						</div>

						<div class="col-xs-3 col-sm-auto" style="margin-top: 10px; margin-left: 40px;">
							<span>Enter
								Status</span><br>
							<input type="text" placeholder="Status" class="formsize" formControlName="status" /><br>
						</div>
					</div>


				</form>
			</div>
			<div class="modal-footer" style="background-color:  rgb(243, 237, 182)">
				<div class="col-xs-3 col-sm-auto">
					<button type="button" class="btn btn-dark" (click)="filterCustomer(filter)">Search</button>
				</div>

				<button type="button" class="btn btn-secondary" data-dismiss="modal"
					(click)="addresponse = false">Close</button>
			</div>
		</div>

	</div>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show' : editresponse }">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header" style="background-color:  rgb(243, 237, 182)">
				<h5 class="modal-title"><i>UpdateCustomer</i></h5>
				<button type="button" class="close" data-dismiss="modal" (click)="editresponse = false"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form [formGroup]="myEditcust" (ngSubmit)="EditCustomer(edit)" #edit="ngForm">
					<div class="mb-3 row">
						<div class="col-xs-3 col-sm-auto" style="margin-left: 40px;">
							
							<input placeholder="Customer Id" class="formsize" formControlName="cust_id" /><br>
							<span style="font-size: 4px;">Customer Id</span>
						</div>


						<div class="col-xs-3 col-sm-auto" style="margin-left: 40px;">
							<span>First Name</span><br>
							<input placeholder="First Name" class="formsize" formControlName="FirstName" /><br>

						</div>
						<div class="col-xs-3 col-sm-auto" style="margin-top: 10px; margin-left: 40px;">
							<span>Last Name</span><br>
							<input placeholder="Last Name" class="formsize" formControlName="LastName" /><br>
						</div>
						<br>
						<div class="col-xs-3 col-sm-auto" style="margin-top: 10px; margin-left: 40px;">
							<span>DOB</span><br>
							<input placeholder="DOB" class="formsize" formControlName="DateOfBirth" /><br>
						</div>
						<div class="col-xs-3 col-sm-auto" style="margin-top: 10px; margin-left: 40px;">
							<span>Marital Status</span><br>
							<select placeholder="marital Status" class="formsize" formControlName="MaritalStatus">
								<option value="Single">Single</option>
								<option value="Married">Married</option>
								<option value="Divorced">Divorced</option>

							</select>

						</div>
						<div class="col-xs-3 col-sm-auto" style="margin-top: 10px; margin-left: 40px;">
							<span>Mobile Number</span><br>
							<input placeholder="Mobile Numeber" class="formsize" formControlName="Phone" /><br>
						</div>

						<div class="col-xs-3 col-sm-auto" style="margin-top: 10px; margin-left: 40px;">
							<span>Alternate Number</span><br>
							<input placeholder="Alternate Number" class="formsize" formControlName="Mobile" /><br>
						</div>

						<div class="col-xs-3 col-sm-auto" style="margin-top: 10px; margin-left: 40px;">
							<span>Email Id</span><br>
							<input placeholder="Email id" class="formsize" formControlName="EmailId" /><br>

						</div>
						<div class="col-xs-3 col-sm-auto" style="margin-top: 10px; margin-left: 40px;">
							<span>Address</span><br>
							<input placeholder="Address" class="formsize" formControlName="Address1" /><br>

						</div>
						<div class="col-xs-3 col-sm-auto" style="margin-top: 10px; margin-left: 40px;">
							<span>Address Line2</span><br>
							<input placeholder="Addtess Line 2" class="formsize" formControlName="Address2" /><br>
						</div>
						<div class="col-xs-3 col-sm-auto" style="margin-top: 10px; margin-left: 40px;">
							<span>Postal Code</span><br>
							<input placeholder="Postal Code" class="formsize" formControlName="ZIPCode" /><br>

						</div>
						<div class="col-xs-3 col-sm-auto" style="margin-top: 10px; margin-left: 40px;">
							<span>City</span><br>
							<input placeholder="City" class="formsize" formControlName="City" /><br>

						</div>
						<div class="col-xs-3 col-sm-auto" style="margin-top: 10px; margin-left: 40px;">
							<span>State</span><br>
							<input placeholder="State" class="formsize" formControlName="State" /><br>
						</div>
						<div class="col-xs-3 col-sm-auto" style="margin-top: 10px; margin-left: 40px;">
							<span>Country</span><br>
							<input placeholder="Country" class="formsize" formControlName="Country" /><br>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer" style="background-color:  rgb(243, 237, 182)">
				<div class="col-xs-3 col-sm-auto">
					<button type="button" class="btn btn-dark" (click)="EditCustomer(edit)"
						(click)="editresponse = false">Update</button>
				</div>
				<button type="button" class="btn btn-secondary" data-dismiss="modal"
					(click)="editresponse = false">Close</button>
			</div>
		</div>

	</div>
</div>
<div class="container-fluid ">
	<div class="row">
		<div class="col-md-10">


			<div class="card border border-dark" style="width: 120%;">
				<div class="card-header" style="background-color: rgb(245, 224, 129) ">

					<div class="col-md-2 left-margin content1"><b> CustId</b> </div>
					<div class="col-md-2 content2"><b>Name </b><br>
						<b>City,State </b><br>
						<b>Phone,Email</b><br>
					</div>
					<div class="col-md-2 content3">
						<b>AcctNum </b>
					</div>
					<div class="col-md-2 content4"><b>Accounttype </b></div>
					<div class="col-md-2 content5"><b>AccSubtype </b></div>
					<div class="col-md-2 content6"><b>Status </b></div>
					<div class="col-md-2 content7"><b>Action </b></div>

				</div>

			</div>
			<div *ngFor="let x of customers" class="card border border-dark"
				style="width: 120%; background-color:  rgb(243, 237, 182) ">
				<div class="card-content">

					<div class="col-md-2 left-margin content1">
						{{x.cust_id}}
					</div>
					<div class="col-md-2 content2">
						<b>{{x.firstname}}</b> <br>
						{{x.city}},{{x.state}}<br>
						{{x.phone}},{{x.emailid}}<br>
					</div>

					<div class="col-md-2 content3">
						{{x.acctnum}}
					</div>
					<div class="col-md-2 content4">
						{{x.accounttype}}
					</div>
					<div class="col-md-2 content5">
						{{x.accsubtype}}
					</div>
					<div class="col-md-2 content6">
						{{x.status}}
					</div>

					<div class="row">
						<div class="col-md-2 content7 " (click)="getEditCustomer(x)">
							<i class="fa-solid fa-pen-to-square" style='font-size:24px'></i>
						</div>
						<div class="col-md-2 content8 " routerLink="/customerdetail" (click)="updateValue(x)">
							<i class='fa-solid fa-eye' style='font-size:24px'></i>
						</div>
						<div class="col-md-2 content9 ">
							<i class="fa-solid fa-trash" (click)="DeleteCustomer(x.cust_id)" style='font-size:24px'></i>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-between p-2"> <ngb-pagination [collectionSize]="collectionSize" [(page)]="page"
			[pageSize]="pageSize" (pageChange)="CustomerPagination()"> </ngb-pagination> <select class="form-select"
			style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="CustomerPagination()">
			<option [ngValue]="10">10 items per page</option>
			<option [ngValue]="25">25 items per page</option>
			<option [ngValue]="50">50 items per page</option>
			<option [ngValue]="100">100 items per page</option>
		</select></div>